<body style="background: bisque">
</body>

<h3>Floricultura</h3>

<br>Encomende suas flores ou cestas de café da manhã
<br>
<img src="https://www.interflores.com.br/lojas/00008104/prod/cestacafeeflores2.JPG"
<br>
<br>

Para comprar ligue <a href="https://api.whatsapp.com/send?phone=551199999999&text=Ligue%20j%C3%A1%20para%20comprar%20seu%20carro%20"
(11)99999-1234

<br>